.footer-link{
    font-size: larger;
    font-weight: bold;
    border-right: 1px solid black;
    padding-right: 10px;
}
.foot{
    direction: ltr;
    
}
.footer-link:hover{
    color: rgb(128, 131, 131);
}
#main_footer .fa-brands{
    font-size: 25px;
    cursor: pointer;
    padding-left: 20px;
    
}
#main_footer .fa-instagram{
    color: rgb(214,73,85);
}
#main_footer .fa-facebook{
    color: blue;
}
#main_footer .fa-whatsapp{
    color: rgb(118, 192, 8);
}

.Baraa_Majdy{
    display: flex;
    flex-direction: row-reverse;
}